
.MainBanerContentPos{
    position: absolute;
    bottom: 80px;
    width: 100%;
}
.MainBanerWrapper{
    background-image: url(../img/webp/baner-index.webp);
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover;
    position: relative;
}
.MainBanerContent{
    background-color: rgba(11,11,11, 0.8);
    border-bottom: solid 18px rgba(160,0,32,0.8);
    color: #fff;
    max-width: 684px;
    padding: 25px;
}
.MainBanerContent h1{
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 51px;
}
.MainBanerContent h2{
    font-weight: 400;
    font-size: 3rem;
    line-height: 43px;
}
.ideas{
    height: 300px;
    background-color: #EFEFEF;
}
.logos-wrapper{
    padding-top: 70px;
    padding-bottom: 110px;
}
.logos-box{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.logos-header{
    font-size: 4.0rem;
    text-align: center;
    padding-bottom: 50px;
}
.logos-box img{
    margin: 25px 15px;
    width: auto;
    height: 100%;
    display: block;
    filter: grayscale(1);
    transition: filter 0.3s ease-in-out, margin 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.logos-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
    margin-top: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.underBanerText{
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;
    background: linear-gradient(0deg, #EFEFEF 0%, rgba(239, 239, 239, 0) 100%);
}
.underBanerText h2{
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.underBanerText h2 b{
    color: #D93029;
}
.underBanerText p{
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 35px;
}