/* main baner */
.MainBanerContentPos{
    position: absolute;
    bottom: 80px;
    width: 100%;
    z-index: 10;
}
.MainBanerWrapper{
    background-image: url(../img/webp/baner-index.webp);
    background-repeat: no-repeat;
    height: 750px;
    background-size: cover;
    position: relative;
}
.MainBanerContent{
    background-color: rgba(11,11,11, 0.8);
    border-bottom: solid 18px rgba(160,0,32,0.8);
    color: #fff;
    max-width: 684px;
    padding: 25px;
}
.MainBanerContent h1{
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 51px;
}
.MainBanerContent h2{
    font-weight: 400;
    font-size: 3rem;
    line-height: 43px;
}
@media(max-width:767px){
    .MainBanerContent h1{
        font-size: 2.3rem;
        line-height: 35px;
    }
    .MainBanerContent h2{
        font-size: 2rem;
        line-height: 35px;
    }
}

.underBaner{
    margin-top: 45px;
    margin-bottom: 45px;
}
.underBaner h1{
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 52px;
    text-align: center;
    margin-bottom: 20px;
}
.underBaner p{
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 35px;
    text-align: center;
}


/* categories tiles */
.categories-wrapper{
    margin-bottom: 150px;
}
.categories-item{
    min-height: 284px;
    padding: 10px;
}
.categories-item a{
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.13);
}
.categories-item.one a{
    background-image: url(../img/webp/serwis-wozkow.webp);
}
.categories-item.two a{
    background-image: url(../img/webp/czesci.webp);
}
.categories-item.three a{
    background-image: url(../img/webp/opony.webp);
}
.categories-text{
    background: rgba(160, 0, 32, 0.73);
    padding: 20px;
    color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -180px;
    transition: all 0.3s ease-in-out;
}
.categories-item a:hover .categories-text{
    bottom: 0px;
}
.categories-body{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}
.categories-item a{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}
.categories-text strong{
    font-weight: 700;
    font-size: 2.4rem;
}
.categories-text hr{
    opacity: 1;
    margin: 1.5rem 0 1.5rem 0;
}
.categories-text{
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 25px;
}

/* customer opinions */

.c-opinions-wrapper{
    padding: 30px 0;
}
.c-opinions-wrapper header{
    margin-bottom: 50px;
}
.c-opinions-wrapper header strong{
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 44px;
    text-align: center;
    display: block;
}
.c-opinions-wrapper header span{
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 39px;
    text-align: center;
    color: var(--red-color);
    display: block;

}
.google-rev-box{
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin-top: 50px;
}
.google-rev-box span, 
.google-rev-box a{
    padding: 5px 10px 0 10px;
}
.google-rev-box a{
    color: #000;
    text-decoration: none;
}
.c-opinions-item{
    background: radial-gradient(61.43% 130.09% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 15px;
    padding: 30px 40px 30px 70px;
    margin: 0 25px;
    min-height: 220px;
}
.splide__track{
    width: calc(100% - 40px);
    margin: auto;
}
.c-opinions-item p{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 22px;
    color: #4B4B4B;
}
.c-opinions-item strong{
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 28px;
    color: #393939;
    margin-bottom: 18px;
    display: block;
    position: relative;
}
.c-opinions-item strong::before{
    content:"";
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    background-image: url(../img/svg/icon-person.svg);
    left: -46px;
    top: -3px;
}
.splide__pagination{
    bottom: -2.5em;
}
.splide__pagination__page.is-active{
    background: linear-gradient(90deg, #5797FF 0%, #D17FF7 100%);
}
.splide__pagination__page{
    background: #5c96fe;
}
@media(max-width:1199px){
    .splide__track{
        width: 100%;
    }
    .c-opinions-item{
        margin: 0 12px;
        padding: 30px 25px 30px 60px;
    }
    .c-opinions-item p{
        font-size: 1.7rem;
    }
    .c-opinions-item strong{
        margin-bottom: 11px;
    }
    
}

/* ideas icons */
.ideas{
    text-align: center;
    background-color: #EFEFEF;
    padding:60px 0 60px 0;
}
.ideas h3{
    margin-top: 10px ;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 2.6rem;
    background: linear-gradient(90deg, #0F3675 0%, rgba(15, 54, 117, 0.73) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.ideas-item{
    margin: 30px 0 30px 0;
}
.ideas p{
    font-weight: 300;
    font-size: 2.0rem;
    line-height: 29px;
}
@media(max-width:991px){
    .MainBanerContentPos{
        bottom: 15px;
    }
    .MainBanerWrapper{
        height:570px;
    }
    .MainBanerContent{
        background-color: rgb(11 11 11 / 69%);
        max-width: 491px;
        border-bottom: solid 9px rgba(160,0,32,0.8);
    }
    .MainBanerContent h1{  
        font-size: 2.6rem;
        line-height: 30px;
    }
    .MainBanerContent h2{ 
        font-size: 2rem;
        line-height: 30px;
    }
    .underBanerText{
        padding-top: 50px;
    }
    .underBanerText h2{
        font-size: 2.8rem;
    }
    .underBanerText p{
        font-size: 2rem;
    }
    .ideas h3{
        font-size: 2rem;
    }
    .ideas p{
        font-size: 1.6rem;
    }
    .ideas-item img{
        width: 75px;
        height: 75px;
    }
    .tx-content-box{
        margin-top: 150px;
    }
    .tx-content-box{
        padding: 55px;
    }
    .tx-img-wrapper h4{
        font-size: 2.7rem;
    }
    .tx-img-wrapper strong{
        font-size: 2.3rem;
    }
    .tx-content-box p,
    .list-style li{
        font-size: 1.8rem;
    }
    .tx-img-wrapper{
        position: inherit;
    }
    .img-wrapper{
        width: 100vw;
        left: 0px;
        top: 0px;
        z-index: -1;
    }
}

/* --- tx-img-box contact --- */
.tx-img-wrapper{
    position: inherit;
    z-index: 2;
}
.tx-img-box.contact .tx-content-box{
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 0;
}
.tx-img-box.contact p,
.tx-img-box.contact .tx-content-box{
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 29px;    
}
.tx-img-box.contact h2{
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 35px;
    color: #DA0F38;
    margin-bottom: 15px;
}
.tx-img-box.contact span{
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 35px;
    display: block;
    margin-bottom: 15px;
}
.tx-img-box.contact a{
    margin-bottom: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 2.0rem;
    font-weight: 400;
    color: #000;
}
.tx-img-box.contact strong{
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 29px;
    color: #000000;
    margin-bottom: 15px;
    display: block;
    text-align: start;
}
.tx-img-box.contact .map-wrapper{

    height: auto;
    position: absolute;
    width: max-content;
    top: 20px;
    right: 0;
}
.tx-img-box.contact .map-wrapper iframe{
    box-shadow: -4px 4px 20px 10px rgb(0 0 0 / 15%);
}
.tx-img-box.contact .map-wrapper h3{
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 46px;
    text-align: center;
    margin-bottom: 25px;
}
.mt-40{
    margin-top: 50px;
}

/* --- fomr --- */

.form{
    background-color: #EFEFEF;
    margin-bottom: 60px;
    padding: 50px;
}