#navbarNavAltMarkup{
    justify-content: flex-end;
}
.navbar-container{
    background-color: #fff;
    margin-top: 55px;
    box-shadow: 0px 4px 4px rgba(150, 150, 150, 0.25);
}
nav{
    z-index: 15;
    position: inherit;
}
nav .navbar-light .navbar-nav .nav-link{
    color: #000;
    font-weight: 500;
    font-size: 1.9rem;
    padding: 15px;
    transition: all 0.3s ease-in-out;
}
nav a.dropdown-item{
    font-size: 1.5rem;
}
nav .navbar-expand-lg .navbar-nav .dropdown-menu{
    padding: 10px 0;
    border: #fff;
    width: 100%;
    top: calc(100% + 18px);
}
nav .navbar-expand-lg .navbar-nav .dropdown-menu li a{
    padding: 5px 25px;
}
nav .navbar-light .navbar-nav .nav-link:hover{
    color: var(--red-color);
}
nav .navbar-toggler:focus{
    box-shadow: none;
}
.navbar-nav .nav-item:last-child .nav-link{
    padding-right:0 ;
}
.navbar-toggler-icon-my{
    width: 29px;
    height: 2px;
    background-color: var(--red-color);
    display: block;
    margin: 2px 0;
    left: 0px;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
.navbar-toggler .two{
    top: calc(50% - 4px);
    position: revert;
    margin: auto;
}
.navbar-toggler .one{
    top: 0;
}
.navbar-toggler .three{
    bottom: 0;
}
.navbar-toggler[aria-expanded="true"] .one,
.navbar-toggler[aria-expanded="true"] .three{
    width: 31px;
    left: -2px;
}
.navbar-toggler[aria-expanded="true"] .two{
    width: 0;
}
.navbar-toggler[aria-expanded="true"] .one{
    rotate:45deg;
    top: 10px;
}
.navbar-toggler[aria-expanded="true"] .three{
    rotate:-45deg;
    bottom: 13px;
}
nav .navbar-light .navbar-toggler{
    height: 29px;
    width: 29px;
    padding: 0;
    position: relative;
    border: none;
}
@media(max-width:991px){
    .navbar-container{
        margin-top: 0;
    }
    .navbar-brand img{
        height: 65px;
    }
}
@media(max-width:767px){
    .TopBarBlack{
        display: none;
    }
    .navbar-container{
        margin-top: 0px;
    }
    .MainBanerWrapper{
        height: 480px;
    }
    .navbar-brand img{
        height: 60px;
    }
}