::selection {
    color: #fff;
    background: #D9002B;
  }
html{
    font-size: 62.5%;
}
body{
    font-family: 'Jost';
    --red-color: #D9002B;
}
a{
    transition: color 0.3s ease-in-out;
}
body a:hover{
    color: var(--red-color);
}
.bg-grey{
    background-color: #EBEBEB;
}

/* link icon */
.IcLocation, 
.IcMail, 
.IcPhone{
    position: relative;
}
.IcLocation::after, 
.IcMail::after, 
.IcPhone::after{
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    display: block;
    left: -36px;
    top: -1px;
}
.IcMail::after{
    background-image: url(../img/svg/icon-mail.svg);
}
.IcLocation::after{
    background-image: url(../img/svg/icon-localization.svg);
}
.IcPhone::after{
    background-image: url(../img/svg/icon-phone.svg);
    left: -26px;
}
.list-style,
.page-content ul{
    list-style: none;
    padding-left: 30px;
}

.list-style li,
.page-content li{
    position: relative;
    margin-bottom: 5px;
}
.page-content li::before{
    content:" ";
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    background-image: url(../img/svg/icon-arrow-red.svg);
    left: -30px;
    top: 3px;
}
.list-style li:before{
    content:" ";
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    background-image: url(../img/svg/icon-tool.svg);
    left: -33px;
    top: 9px;
}
.page-content li{
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 29px;
    margin-bottom: 15px;
}